.table {
    background-color: white;
    color: black;
}

.table thead {
    background-color: #343a40; 
    color: white; 
}

.table tbody tr {
    background-color: white;
    color: black;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6; 
}