

.demo{ font-family: 'Noto Sans', sans-serif; }
.panel {
    position: relative; 
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.panel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/img/background.png') no-repeat center center;
    background-size: cover;
    filter: blur(5px); 
    z-index: -1; 
}
.panel .panel-heading{
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}
.panel .panel-heading .title{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 40px;
    margin: 0;
}
.panel .panel-heading .btn{
    color: rgba(255,255,255,0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover{
    color: #fff;
    text-shadow: 3px 3px rgba(255,255,255,0.2);
}
.panel .panel-heading .form-control{
    color: #fff;
    background-color: transparent;
    width: 35%;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .form-control:focus{
    background-color: rgba(255,255,255,0.2);
    box-shadow: none;
    outline: none;
}
.panel .panel-heading .form-control::placeholder{
    color: rgba(255,255,255,0.5);
    font-size: 15px;
    font-weight: 500;
}
.panel .panel-body{ padding: 0; }
.panel .panel-body .table thead tr th{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
}
.panel .panel-body .table tbody tr td{
    color: #fff;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}
.panel .panel-body .table tbody tr:nth-child(even){ background-color: rgba(255,255,255,0.05); }
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .panel-body .table tbody .action-list li{
    display: inline-block;
    margin: 0 5px;
}
.panel .panel-body .table tbody .action-list li a{
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover{ text-shadow: 3px 3px 0 rgba(255,255,255,0.3); }
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #111;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -32px;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}
.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after{
    display: block;
}
.panel .panel-footer{
    color: #fff;
    background-color: transparent;
    padding: 15px;
    border: none;
}
.panel .panel-footer .col{ line-height: 35px; }
.pagination{ margin: 0; }
.pagination li a{
    color: #fff;
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 31px;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0 3px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.pagination li a:hover{
    color: #fff;
    background-color: transparent;
    border-color: rgba(255,255,255,0.2);
}
.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.pagination li:first-child a,
.pagination li:last-child a{
    border-radius: 50%;
}
@media only screen and (max-width:767px){
    .panel .panel-heading .title{
        text-align: center;
        margin: 0 0 10px;
    }
    .panel .panel-heading .btn_group{ text-align: center; }
}

/* ------------------------------------------------------------------------------- */

#navbar{
    padding: 20px;
}

#btnNuevoDis{
    margin-left: 50px;
    padding: 30px;
}

#btnDispositivo{
    background-color: rgba(255, 200, 0, 0.9);
    color: #fff;
    font-weight: bold;
    border: none;
}

#btnDispositivo:hover{
    background-color: rgba(237, 186, 0, 0.9);
    color: #fff;
    font-weight: bold;
    border: none;
}

.custom-container {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
}

/* Define el estilo del section */
#DisDisplay {
    padding: 20px; 
    box-sizing: border-box; 
}
/* estilo del crudnotificaciones */
.CrudNotificaciones-maincontainer {
    padding: 40px;
    border-radius: 15px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    max-width: 800px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}


.CrudNotificaciones-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; 
    margin-top: 20px;
    border-radius: 10px; 
    overflow: hidden; 
}

.CrudNotificaciones-table thead {
    background-color: transparent;
    color: #ffffff;
}

.CrudNotificaciones-table thead th, .CrudNotificaciones-table tbody td {
    border-bottom: 0;
    text-align: center;
    padding: 15px;
}


.CrudNotificaciones-table tbody tr {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 10px; 
}

.CrudNotificaciones-table tbody tr:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.CrudNotificaciones-table tbody td {
    text-align: center;
    padding: 15px;
    vertical-align: middle;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 0; 
}

.CrudNotificaciones-table tbody td img {
    width: 24px;
    cursor: pointer;
}

.CrudNotificaciones-table tbody tr:last-child td {
    border-bottom: 0; 
}

/* Iconos de acciones */
.CrudNotificaciones-table tbody td img {
    transition: opacity 0.3s ease;
}

.CrudNotificaciones-table tbody td img:hover {
    opacity: 0.7;
}

button.CrudNotificaciones-btn-agregar {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.CrudNotificaciones-modal-header {
    color: black;
    border-bottom: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px;
}

.CrudNotificaciones-modal-header .btn-close {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.CrudNotificaciones-modal-content {
    border-radius: 15px;
    padding: 10px
}

.CrudNotificaciones-modal-body {
    padding: 20px;
    background-color: #f9f9f9;
}

.CrudNotificaciones-modal-body .form-label {
    color: #333333;
}

.CrudNotificaciones-modal-body .form-control {
    border-radius: 5px;
}

button.CrudNotificaciones-btn-guardar {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .CrudNotificaciones-maincontainer {
        padding: 20px;
        font-size: 14px;
    }
    
    .CrudNotificaciones-table thead th, .CrudNotificaciones-table tbody td {
        padding: 8px;
    }
    
    button.CrudNotificaciones-btn-agregar {
        font-size: 16px;
        padding: 8px 16px;
    }
}

form .form-group {
    background: #fecd57; 
    padding: 40px;
    border-radius: 5px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 800px;
}

form .form-control{
    background: #faf9f7;
    margin-bottom: 10px;
}

form .inside{
    margin-top: 40px;
    position: relative;
    border: 1px solid #cbcbcb;
}

#btnSubmitDis{
    background: rgba(80, 79, 77, 0.9);
    color: #fff;
    border: none;
}

#btnSubmitDis:hover{
    background: rgba(54, 54, 54, 0.9);
    color: #fff;
    border: none;
}

form .btn:focus{
    outline: none;
}