{% extends "PrimeraApp/main.html" %}
{% load static %}
<!-- Bloque para el contenido principal de la página -->
{% block contenido %}
<section>
  <div class="container">
    <br>
    <div class="row">
      <!-- Aquí se colocarán los campos del formulario -->
      <form method="POST">
        {% csrf_token %}
        <div class="form-group" style="font-family: Arial, Helvetica, sans-serif; box-shadow: 5px 5px 5px black;">
          <h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 3em; border-radius: 5px;">
            Invitar Usuario</h2>
          <br>
          <label for="correo">Correo electrónico:</label>
          <input type="email" class="form-control" style="box-shadow: 5px 5px 5px black;" id="correo" name="correo" required/>
          <br>
          <button type="submit" class="btn btn-primary" style="box-shadow: 5px 5px 5px black;">Enviar</button>
          <br>
          <br>
        </div>
        <br>
      </form>
    </div>
  </div>
</section>
{% endblock contenido %}

<!-- Bloque para el footer de página -->
{% block footer %}

{% endblock footer %}

<!-- Bloque para el JavaScript de la página -->
{% block js %}

{% endblock js %}