<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandingPage</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon/favicon.ico' %}">
    <!-- css-->
    <link rel="stylesheet" href="{% static 'css/LandingPage.css' %}">
    <link rel="stylesheet" href="{% static 'css/CrudDispositivos.css' %}">
    <link rel="stylesheet" href="{% static 'css/CrudDispositivos2.css' %}">
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>
    <div class="container">
        <!-- Navbar -->
        <div class="row" id="navbar">
            <div class="col-lg-12">
                <nav class="navbar navbar-dark bg-dark fixed-top">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#UserMenu" aria-controls="offcanvasDarkNavbar"
                            aria-label="Toggle navigation">
                            <i class='bx bxs-user-detail'></i>
                        </button>

                        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                            aria-labelledby="offcanvasDarkNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Rayzek</h5>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/main/">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Familiar
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" href="#">Aceptar miembros</a></li>
                                            <li><a class="dropdown-item" href="#">Enviar invitacion</a></li>
                                            <li><a class="dropdown-item" href="#">Gestion de miembros</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Monitoreo de consumo
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" href="#">Consumo</a></li>
                                            <li><a class="dropdown-item" href="#">Estadisticas</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/CrudDispositivos/">Gestion
                                            de dispositivos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Display for the Menu Of The User -->
                        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="UserMenu"
                            aria-labelledby="offcanvasDarkNavbarLabel">
                            <div class="offcanvas-header">
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Settings</a>
                                    </li>
                                    <li class="nav-item"></li>
                                    <a class="nav-link active" aria-current="page" href="/">Log Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Bloque para el contenido principal de la página -->
        {% block contenido %}
        <section class="page-section" id="DisDisplay">
            <div class="container">
                <div id="btnNuevoDis">
                    <a class="btn btn-primary btn-xl text-uppercase" id="btnDispositivo" href="#">Agregar
                        Dispositivo</a>
                </div>

                <!-- Crud Dispositivos, debe aparecer una vez presionado el boton "Agregar Dispositivo" -->
                <div class="container-fluid" id="NewDevices">
                    <div class="row">
                        <form>
                            <div class="form-group">
                                <label class=" control-label">Dispositivo</label>
                                <input type="text" class="form-control">

                                <label class=" control-label">Ubicación</label>
                                <input type="text" class="form-control">

                                <label class=" control-label">Tipo de Dispositivo</label>
                                <input type="text" class="form-control">

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">**********</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">**********</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default" style="margin-top: 10px;">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <br>

            <!-- Menu para mostrar los dispositivos ya agregados -->
            <div class="custom-container">
                <div class="row">
                    <div class="col-md-11 mx-auto" id="DisContainer">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col col-sm-3 col-xs-12">
                                        <h4 class="title">Data <span>List</span></h4>
                                    </div>
                                    <div class="col-sm-9 col-xs-12 text-right">
                                        <div class="btn_group">
                                            <input type="text" class="form-control" placeholder="Search">
                                            <button class="btn btn-default" title="Reload"><i
                                                    class="fa fa-sync-alt"></i></button>
                                            <button class="btn btn-default" title="Pdf"><i
                                                    class="fa fa-file-pdf"></i></button>
                                            <button class="btn btn-default" title="Excel"><i
                                                    class="fas fa-file-excel"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Full Name</th>
                                            <th>Age</th>
                                            <th>Job Title</th>
                                            <th>City</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Vincent Williamson</td>
                                            <td>31</td>
                                            <td>iOS Developer</td>
                                            <td>Sinaai-Waas</td>
                                            <td>
                                                <ul class="action-list">
                                                    <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a>
                                                    </li>
                                                    <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Taylor Reyes</td>
                                            <td>22</td>
                                            <td>UI/UX Developer</td>
                                            <td>Baileux</td>
                                            <td>
                                                <ul class="action-list">
                                                    <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a>
                                                    </li>
                                                    <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Justin Block</td>
                                            <td>26</td>
                                            <td>Frontend Developer</td>
                                            <td>Overland Park</td>
                                            <td>
                                                <ul class="action-list">
                                                    <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a>
                                                    </li>
                                                    <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Sean Guzman</td>
                                            <td>26</td>
                                            <td>Web Designer</td>
                                            <td>Gloucester</td>
                                            <td>
                                                <ul class="action-list">
                                                    <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a>
                                                    </li>
                                                    <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Keith Carter</td>
                                            <td>20</td>
                                            <td>Graphic Designer</td>
                                            <td>Oud-Turnhout</td>
                                            <td>
                                                <ul class="action-list">
                                                    <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a>
                                                    </li>
                                                    <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <ul class="pagination hidden-xs pull-right">
                                            <li><a href="#"><i class='bx bxs-chevrons-left'></i></a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><i class='bx bxs-chevrons-right'></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    </section>



    {% endblock contenido %}

    <!-- Bloque para el footer de página -->
    {% block footer %}

    {% endblock footer %}


    </div>
    <!-- Bloque para el JavaScript de la página -->
    {% block js %}
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock js %}
</body>

</html>