{% extends "primeraApp/main.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
    <hr>
    <h2 class="text-white">Notificaciones</h2>
    <table class="table table-bordered" style="background-color: #fff; color: black;">
        <thead style="background-color: #343a40; ">
            <tr>
                <th>ID</th>
                <th>Alerta</th>
                <th>Timestamp</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar el diccionario de alertas para mostrarlo en la tabla -->
            {% for clave, valor in alertas.items %}
            <tr style="background-color: white; color: black;">
                <td>{{ valor.id }}</td>
                <td>{{ valor.alerta }}</td>
                <td>{{ valor.timestamp }}</td>
                <td>{{ valor.usuario }}</td>
                <td>
                    &nbsp;<img src="{% static 'img/delete.png' %}" alt="Delete">&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'img/update.png' %}" alt="Delete">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </table>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNotificationModal">
        Agregar Notificación
    </button>
    <!-- Modal -->
    <div class="modal fade" id="addNotificationModal" tabindex="-1" aria-labelledby="addNotificationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNotificationModalLabel">Agregar Notificación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    <!-- Formulario para agregar una notificación envia los datos por POST al view-->
                    <form id="addNotificationForm" method="POST"">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="alerta" class="form-label">Alerta</label>
                            <input type="text" class="form-control" id="alerta" name="alerta" required>
                        </div>
                        <div class="mb-3">
                            <label for="timestamp" class="form-label">Timestamp</label>
                            <input type="datetime-local" class="form-control" id="timestamp" name="timestamp" required>
                        </div>
                        <div class="mb-3">
                            <label for="usuario" class="form-label">Usuario</label>
                            <input type="text" class="form-control" id="usuario" name="usuario" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block js %}
<script>
    
</script>
{% endblock js %}