<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon/favicon.ico' %}">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="container">
        <form method="post" name="form" action="">
            {% csrf_token %}
            <div class="logo_image">
                <a href="/"><img src="{% static 'img/icon.png' %}" alt="icon" class="image"></a>
            </div>
            <h1 id="title">Login</h1>

            <div class="input-box">
                <label for="email">Email</label><br>
                <div class="error">
                    <input type="email" id="email" placeholder="Ingresar Email" name="email" required>
                    <i class='bx bxs-user'></i>
                    <p id="no" style="color: red; font-size: 13px; margin-left: 20px;">Email no registrado</p>
                    <p id="yes" style="color: green; font-size: 13px; margin-left: 20px;">Email registrado</p>
                </div>
            </div>

            <div class="input-box">
                <label for="contrasena">Contraseña</label><br>
                <input type="password" id="contrasena" placeholder="Ingresar contraseña" name="contrasena" required>
                <i class='bx bxs-lock'></i>
            </div>

            <div class="forgot">
                <div>
                    <label><input id="forget" type="checkbox" name="remember"> Recuérdame</label>
                </div>
                <div>
                    <a id="singin" href="#">¿Olvidaste la contraseña?</a>
                </div>
            </div>

            <button class="button" id="submit-button" type="button" onclick="validar_login()">Enviar</button>
            <br><br>
            <span>¿Nuevo usuario? <a href="/Signup/"> Crear una cuenta</a></span>
        </form>
    </div>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/validarLogin.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    
</body>

</html>