{% extends "PrimeraApp/main.html" %}

{% block contenido %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        {% if usuario.roles == 'adm' %}
            <!-- Mostrar contenido exclusivo para administradores -->
            <h1 style="font-size: 3em; ">Bienvenido Administrador,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ usuario.nombre }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ usuario.email }}</h1>
        {% else %}
            <!-- Mostrar contenido para usuarios normales -->
            <h1 style="font-size: 3em; ">Bienvenido, {{ usuario.nombre }}<br>
                {{ usuario.email }}</h1>
        {% endif %}
    </div>
{% endblock contenido %}

{% block js %}
<script>
    
</script>
{% endblock js %}